.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Adjust the width as needed */
}

.leftContainer{
  float: left;
}

.rightContainer{
  float: right;
}