.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.pageTitle{
  margin-bottom:2%
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%; /* Adjust the width as needed */
}

.leftContainer{
  float: left;
}

.emailInput{
  width: 100%;
  padding: 10px;
  margin-bottom:2%;
}

.closeEmail{
  float: right;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #0056b3;
  padding:5px;
}

.sendEmail{
  background-color: #0056b3;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding:5px;
}

.popup {
  background-color: white;
  padding: 20px;
  color: blue;
  z-index: 9;
  position: fixed; /* Use position: fixed to position it relative to the viewport */
  top: 50%; /* Vertically center */
  left: 50%; /* Horizontally center */
  transform: translate(-50%, -50%); /* Center both horizontally and vertically */
  max-height: 90vh; /* Set a maximum height to limit the scrollable area */
  overflow: auto; /* Apply overflow: auto to the entire popup */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow for depth */
  backdrop-filter: blur(50px); /* Apply backdrop filter for background blur */
  border: 1px solid rgba(0, 0, 0, 0.2); /* Add a border for separation */
}

.linkKeywords{
  border-color:black;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 1%;
  padding-bottom:2%;
  padding-left:1%;
}


.loadingDiv{
  background-color: white;
  padding: 20px;
  color: blue;
  z-index: 9;
  position: fixed; /* Use position: fixed to position it relative to the viewport */
  top: 50%; /* Vertically center */
  left: 50%; /* Horizontally center */
  transform: translate(-50%, -50%); /* Center both horizontally and vertically */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow for depth */
  backdrop-filter: blur(50px); /* Apply backdrop filter for background blur */
  border: 1px solid rgba(0, 0, 0, 0.2); /* Add a border for separation */
}

.closeButton{
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  margin-left: 45%;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-left:75%;
}

.loadingIcon {
  animation: spin 1s infinite linear;
}
  

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
